<!DOCTYPE html />
<%provide(:title,"Home") %>

<head>
<title><%=full_title(yield(:title)) %></title>
</head>
<body  >
<CENTER>
<br><br><br>



</CENTER>
<div class="center jumbotron ">
<center>
<h1> WELCOME HOME  </h1>
<br>


           <%= link_to "Sign In", '/login', class: "btn btn-lg btn-primary" %>
           <%= link_to "Sign Up", '/signup', class: "btn btn-lg btn-primary" %>
</center>
</div >
<div class="center">
<%= link_to image_tag("pjdesigns.png", alt: "PJ Logo"),
            'http://pjdesigns.co.uk/images/logo.png' %>

<%= link_to image_tag("kitty.png", alt: "Kitty Image"),
           'https://s3-us-west-2.amazonaws.com/learnenough/kitten.jpg' %>
  <div>


<footer class="footer" >
  <small>
    The <a href="http://www.PJDesigns.org/">PJ Designs</a>
    by <a href="http://PJDesigns.co.in/">Paul Joe George</a>
  </small>
  <nav>
    <ul>
      <li><%= link_to "About",   'about' %></li>
      <li><%= link_to "Contact", 'contact' %></li>
      <li><a href="http://PJDesigns.org">News</a></li>
    </ul>
  </nav>
</footer>


</body>
</html>
