<% provide(:title,"Users") %>

<div class="center jumbotron">

<h1> Find your friends </h1>

</div>

<%= will_paginate %>
<ul class="users">
<% @users.each do |user|%>
<li>
	<%= gravatar_for user , size: 70 %>
	
	<%= link_to user.name, user %>

	<% if is_admin? %> 

	<%= "        |      "  %>
    <%= link_to "Delete user", user, method: :delete,
                                  data: { confirm: "You sure?" } %>
  <% end %>
</li>



	<% end %>
</ul>

<%= will_paginate %>	

