<!DOCTYPE html>
<head>
<%provide(:title,"Register")%>
<title><%=full_title(yield(:title))%></title>
</head>
<body >

</div>
<div class="center jumbotron" class="body">
<h1>Register PJDesigns </h1>
<h2>U l t i m a t e   D e s i g n i n g   S o u l t i o n s</h2>
</div>


 <div class="row">
  <div class="col-md-6 col-md-offset-3">
    <%= form_for(@user, url: signup_path) do |f| %>
    <%= render 'shared/error_messages' %>
      <%= f.label :name %>
      <%= f.text_field :name , class: 'form-control' %>

      <%= f.label :email %>
      <%= f.email_field :email , class: 'form-control' %>

      <%= f.label :password %>
      <%= f.password_field :password , class: 'form-control'%>

      <%= f.label :password_confirmation, "Confirmation" %>
      <%= f.password_field :password_confirmation , class:'form-control' %>

      <%= f.submit "Create my account", class: "btn btn-primary" %>
    <% end %>
  </div>
</div>

<footer class="footer" >
  <small>
     <a href="http://www.PJDesigns.org/">PJ Designs</a>
    by <a href="http://PJDesigns.co.in/">Paul Joe George</a>
  </small>
  <nav class="nav navbar-nav navbar-right">
    <ul>
      <li><%= link_to "About",   'about' %></li>
      <li><%= link_to "Contact", 'contact' %></li>
      <li><a href="http://PJDesigns.org">News</a></li>
    </ul>
  </nav>
  </footer>
</body>
</html>
